
<div id="video_container">
  <lite-youtube videoid="p15XIbO3fUs" videoplay="Ver video" videotitle="Ver video Top 3 Casinos Online en España" class="video"></lite-youtube>
</div>
<style>
  #video_container {
    width: 100%;
    max-width: 100%;
    height: calc(100svh - 4rem);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    box-sizing: border-box;
  }
  .video {
    width: 100%;
    max-width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
  }
  lite-youtube {
    width: 100% !important;
    max-width: 100% !important;
    height: auto !important;
  }
</style>
<script>
  import "@justinribeiro/lite-youtube";
</script>
